.formCont {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    gap: 0.5rem;
}

.buttonContainer {
    display: flex;
    gap: 0.5rem; 
}

.commentUpdateBtns {
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    padding: 4px 8px;
    border: none;
    background-color: #ddd;
    border-radius: 4px;
    
}

.commentUpdateBtns:hover {
    opacity: 0.8;
}

.editCommentInput {
    border: 2px solid black;
    padding-left: 5px;
    flex-grow: 1; 
    width: 100%;
}
