.postCard {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  max-height: 550px;
  margin-left: 17%;
  flex-grow: 1;
}

.postCard:hover {
  transform: scale(1.05);
}

.detailView {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.104);
  backdrop-filter: blur(40px);
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.postCard:hover .detailView {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.postImg {
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.postContent {
  padding: 16px;
}

.postTitle {
  font-size: 20px;
  font-weight: 600;
  color: #1a202c;
  margin-bottom: 8px;
}

.postDate {
  color: #718096;
  font-size: 14px;
}

.btnsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.actionsContainer {
  display: flex;
  gap: 12px;
}

.likeContainer,
.commentContainer {
  background: none;
  border: none;
  font-size: 16px;
  color: #4a5568;
}
