.container {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.commentConetent{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.comment p {
    margin: 0;
    color: #555;
}

.commentActions{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.commentActions i {
    font-size: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.commentActions i:hover{
    opacity: 0.8;
}

.commentUpdateBtns{
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.commentUpdateBtns:hover{
    opacity: 0.8;
}

.editCommentInput{
    border: 2px solid black;
    padding-left: 5px;
}