.container {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.comment {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.comment p {
    margin: 0;
    color: #555;
}
