
.commentForm i {
    cursor: pointer;
    transition: all 0.3s;
    color: #333;
    font-size: 1.5rem;
}

.commentForm i:hover {
    color: #3b82f6; 
}

.commentForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.postAddComment {
    font-size: 1rem;
    border: 2px solid #333;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    transition: border-color 0.3s ease;
}

.postAddComment:focus {
    border-color: #3b82f6; 
    outline: none;
}
